<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= RESTAURANT.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1> <%= RESTAURANT.name %></h1>
  <h2> <%= RESTAURANT.address %> </br> <%=RESTAURANT.phone %> </h2>
  <h3> 
    <% if(RESTAURANT.isOpen) { %>
    <p> Welcome, we are open!</p>
    <% } else { %>
    <p> Sorry, we're closed</p>
    <% } %>
</h3>
</body>
</html>
